.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

}

h1 {
    align-self: center;
}

.video {
    width: 100%;
    height: auto;
    max-height: 100%;


    align-self: center;
    max-width: 800px;
    border: solid 2px black;
}

